@model SRV.Models.DTO.FiltroFuncaoOcorrenciaServidor

@using SRV.Common.Extension
@using MvcContrib.UI.Grid

@using (Html.BeginForm())
{
    using (Html.BeginToolbar())
    {
        @Html.ToolbarItemSubmit(true, "btPesquisar")
        
        if (ViewBag.TelaFiltrada)
        { 
            @Html.ToolbarItemLink(@Role.IsGranted("Administrador"), "Create", "FuncaoServidor", new { IdServidor = Model.IdServidor, NomeServidor = Model.NomeServidor }, "btNovaFuncao")
            @Html.ToolbarItemLink(@Role.IsGranted("Administrador"), "Create", "OcorrenciaServidor", new { IdServidor = Model.IdServidor, NomeServidor = Model.NomeServidor }, "btNovaOcorrencia")
            @Html.ToolbarItemLink(@Role.IsGranted("Administrador"), "ListarRecursos", "Auditoria", new { IdServidor = Model.IdServidor, NomeServidor = Model.NomeServidor }, "btPesquisarAuditoria")
        }
    }

    <div class="boxContent">
        @if (TempData["message"] != null)
        {
            <div class="boxInfo">@TempData["message"]</div>
        }

        @Html.ValidationSummary(true)

        <div class="formColumn">
            <table class="tableForm">
                <tr>
                    <td class="labelRight">@Html.LabelFor(m => m.IdServidor)</td>
                    <td>
                        @Html.TextBoxFor(m => m.IdServidor, new { style = "width:80px; text-align: right;", maxlength = 8 })
                        <input type="image" id="buttonhitServidor" src="@Url.Content("~/Content/images/pesquisar.gif")"/>
                        @Html.TextBoxFor(m => m.NomeServidor, new { style = "width:250px;", disabled = "disabled" })
                        @Html.HiddenFor(m => m.NomeServidor, new { id = "NomeServidorHidden" })
                    </td>
                </tr>
            </table>
        </div>

        @if (ViewBag.TelaFiltrada)
        {
            <div class="formColumn" style="float:right">
             <table class="tableForm">
                <tr>
                    <td class="labelRight">
                        @("Coeficiente do Servidor: ")
                        @if (!String.IsNullOrWhiteSpace(Model.CoeficienteServidor))
                        { 
                            @Html.DisplayFor(m => m.CoeficienteServidor)
                        }
                        else
                        {
                            @("N/A")   
                        }
                    </td>
                    <td class="labelRight">
                        @("Data do último Processamento: ")
                        @Html.DisplayTextFor(m => m.DataUltimoProcessamento)
                    </td>
                </tr>
                <tr>
                    <td class="labelRight">@Html.LabelFor(m => m.TotalDiasAlocado)</td>
                    <td>
                        @Html.DisplayFor(m => m.TotalDiasAlocado) dias
                        @("(")@Html.DisplayFor(m => m.PercentualTotalAlocado)@("%)")
                    </td>
                </tr>
                <tr>
                    <td class="labelRight">@Html.LabelFor(m => m.TotalDiasAfastamento)</td>
                    <td>
                        @Html.DisplayFor(m => m.TotalDiasAfastamento) dias
                        @("(")@Html.DisplayFor(m => m.PercentualTotalAfastamento)@("%)")
                    </td>
                </tr>
            </table>
            </div>
        }

        <div style="clear:both"></div>

        @if (Model != null && Model.FuncoesServidores != null)
        {
            @Html.Pager(Model.FuncoesServidores, "pageFuncao", "paginarFuncao")

            using (@Html.BeginScroller())
            {
                @Html.Grid(Model.FuncoesServidores.Items).Columns(column =>
                {
                    if (@Role.IsGranted("Administrador"))
                    {
                        column.For(c => Html.ActionLink(" ", "Edit", "FuncaoServidor", new { id = @c.IdFuncaoServidor }, new { @class = "icoLinkOpen" })).Named("Abrir").Attributes(width => "35px", align => "center").HeaderAttributes(width => "35px", align => "center").Encode(false);
                        column.For(c => Html.ActionLink(" ", "", null, new { href = "#", @class = "icoLinkDelete", onclick = "promptDelete(this, '" + @Url.Action("DeleteRecurso", "FuncaoServidor") + "', " + @c.IdFuncaoServidor + ")" })).Named("Excluir").Attributes(width => "42px", align => "center").HeaderAttributes(width => "42px", align => "center").Encode(false);
                    }

                    column.For(c => c.Servidor.IdServidor).Named("Código Servidor").Attributes(width => "110px", align => "right").HeaderAttributes(width => "110px");
                    column.For(c => c.Servidor.DesNomeServidor).Named("Servidor").Attributes(width => "300px").HeaderAttributes(width => "300px");
                    column.For(c => c.Funcao.DesFuncao).Named("Função").Attributes(width => "300px").HeaderAttributes(width => "300px");
                    column.For(c => c.DataInicioFuncao).Named("Data Início Função").Attributes(width => "125px").HeaderAttributes(width => "125px").Format("{0:dd/MM/yyyy}");
                    column.For(c => c.DataFimFuncao).Named("Data Fim Função").Attributes(width => "115px").HeaderAttributes(width => "115px").Format("{0:dd/MM/yyyy}");
                    column.For(c => c.Proporcionalidade).Named("Proporcionalidade").Attributes(width => "125px", align => "right").HeaderAttributes(width => "125px");
                    column.For(c => c.UnidadeAdministrativa.IdUnidadeAdministrativa).Named("Código Unidade Administrativa").Attributes(width => "205px", align => "right").HeaderAttributes(width => "205px");
                    column.For(c => c.UnidadeAdministrativa.DesUnidadeAdministrativa).Named("Unidade Administrativa").Attributes(width => "350px").HeaderAttributes(width => "350px");
                    column.For(c => c.Elegivel).Named("Elegibilidade").Attributes(width => "350px").HeaderAttributes(width => "115px");
                    column.For(c => c.Nota).Named("Nota").Attributes(width => "350px").HeaderAttributes(width => "115px");
                    column.For(c => c.CargaHorariaTotal).Named("Carga Horária Total").Attributes(width => "350px").HeaderAttributes(width => "115px");
                    column.For(c => c.CargaHorariaAlocada).Named("Carga Horária Alocada").Attributes(width => "350px").HeaderAttributes(width => "115px");
                    column.For(c => c.CargaHorariaLivre).Named("Carga Horária Livre").Attributes(width => "350px").HeaderAttributes(width => "115px");
                    column.For(c => c.Recurso).Named("Recurso").Attributes(style => "overflow:auto;").HeaderAttributes(style => "width:300px");
                }).Empty("Nenhum registro encontrado")//.Attributes(style => "table-layout:auto")
            }
        }

        <br />
        <div style="clear:both"></div>

        @if (Model != null)
        {
            if (Model.OcorrenciasServidores != null)
            {            
                @Html.Pager(Model.OcorrenciasServidores, "pageOcorrencia", "paginarOcorrencia")

                @Html.Grid(Model.OcorrenciasServidores.Items).Columns(column =>
           {
               if (@Role.IsGranted("Administrador"))
               {
                   column.For(c => Html.ActionLink(" ", "Edit", "OcorrenciaServidor", new { id = @c.IdOcorrenciaServidor }, new { @class = "icoLinkOpen" })).Named("Abrir").Attributes(width => "35px", align => "center").HeaderAttributes(width => "35px", align => "center").Encode(false);
                   column.For(c => Html.ActionLink(" ", "", null, new { href = "#", @class = "icoLinkDelete", onclick = "promptDelete(this, '" + @Url.Action("DeleteRecurso", "OcorrenciaServidor") + "', " + @c.IdOcorrenciaServidor + ")" })).Named("Excluir").Attributes(width => "42px", align => "center").HeaderAttributes(width => "42px", align => "center").Encode(false);
               }

               column.For(c => c.IdOcorrenciaServidor).Named("Código").Attributes(width => "60px", align => "right").HeaderAttributes(width => "60px");
               column.For(c => c.Servidor.DesNomeServidor).Named("Servidor").Attributes(width => "33%").HeaderAttributes(width => "33%");
               column.For(c => c.Ocorrencia.DesOcorrencia).Named("Ocorrência").Attributes(width => "33%").HeaderAttributes(width => "33%");
               column.For(c => c.DataInicioOcorrencia).Named("Data Início").Attributes(width => "100px").HeaderAttributes(width => "100px").Format("{0:dd/MM/yyyy}");
               column.For(c => c.DataFimOcorrencia).Named("Data Fim").Attributes(width => "100px").HeaderAttributes(width => "100px").Format("{0:dd/MM/yyyy}");
               //column.For(c => c.UnidadeAdministrativa.DesUnidadeAdministrativa).Named("Unidade Administrativa").Attributes(width => "33%").HeaderAttributes(width => "33%");
               column.For(c => c.Recurso).Named("Recurso").Attributes(style => "overflow:auto").HeaderAttributes(style => "width:300px");
           }).Empty("Nenhum registro encontrado")
            }
        }
    </div>                       
}

<div id="modalButtonHitServidor" title="Pesquisa Servidor" style="display:none;"></div>

<script type="text/javascript">

    jQuery(function ($) {

        $('#IdServidor').mask("??99999999", { placeholder: "" });

        $('#buttonhitServidor').click(function () {
            var dlg = $("#modalButtonHitServidor").dialog({
                title: 'Pesquisar Servidor',
                height: 'auto',
                width: 750,
                position: ['center', 120],
                modal: true,
                resizable: false,
                callback: 'loadServidor',
                open: function () {
                    $(this).load('@Html.Raw(Url.Action("Index", "PesquisaServidor"))');
                },
                beforeClose: function (event, ui) {
                    $('#modalButtonHitServidor').empty();
                }
            });

            return false;
        });

        $('#IdServidor').blur(function () {
            if ($('#IdServidor').val() != "") {
                $.getJSON('@Url.Content("~/PesquisaServidor/FindServidorById")',
                { idServidor: $('#IdServidor').val() },
                function (data) {
                    if (data.Result != null) {
                        $('#IdServidor').val(data.Result.IdServidor);
                        $('#NomeServidor').val(data.Result.DesNomeServidor);
                        $('#NomeServidorHidden').val(data.Result.DesNomeServidor);
                    }
                    else {
                        $('#IdServidor').val("");
                        $('#NomeServidor').val("");
                        $('#NomeServidorHidden').val("");
                        alert('Servidor não encontrado');
                        $('#IdServidor').focus();
                    }
                });
            }
            else {
                $('#IdServidor').val("");
                $('#NomeServidor').val("");
                $('#NomeServidorHidden').val("");
            }
        });

    });

    function loadServidor(IdServidor, DesNomeServidor) {
        $('#IdServidor').val(IdServidor);
        $('#NomeServidor').val(DesNomeServidor);
        $('#NomeServidorHidden').val(DesNomeServidor);
    }

    function promptDelete(element, url, id, seq) {

        var recurso = prompt('Por favor, informe o numero do recurso:',"");

        if (recurso == "" || recurso == '' || recurso == null)
            return false;
        else
        {            
            $.ajax({ url: url,
                type: 'post',
                data: { id: id, numeroRecurso: recurso },
                success: function (data) {
                    alert(data.Result);
                    $(element).closest("form").submit();
                },
                error: function (xhr, status, error) {
                    console.log(xhr.status);
                    if (xhr.status != 403) {
                        $(".boxInfo").remove();
                        $(".validation-summary-errors").remove();
                        $(".boxContent").prepend("<div class='validation-summary-errors'><ul><li>" + xhr.responseText + "</li></ul></div>");
                    }
                }
            });                
        }
    }

</script>