@model SRV.Models.DTO.FiltroIndicadorUnidadeAdministrativa

@using SRV.Common.Extension
@using MvcContrib.UI.Grid

@using (Html.BeginForm())
{
    using (Html.BeginToolbar())
    {
        @Html.ToolbarItemSubmit(true, "btPesquisar")
        @Html.ToolbarItemLink(true, "Upload", null, null, "btImportar")
    }

    <div class="boxContent">
        @if (TempData["message"] != null)
        {
            <div class="boxInfo">@TempData["message"]</div>
        }

        @Html.ValidationSummary(true)

        <div class="formColumn">
            <table class="tableForm">
                <tr>
                    <td class="labelRight">@Html.LabelFor(m => m.IdModalidade)</td>
                    <td>
                        @Html.DropDownListFor(m => m.IdModalidade, (IEnumerable<SelectListItem>)Model.Modalidades ?? new List<SelectListItem>(), "", new { style = "width:250px;" })
                    </td>
                </tr>
                <tr>
                    <td class="labelRight">@Html.LabelFor(m => m.IdNivelEnsino)</td>
                    <td>
                        @Html.DropDownListFor(m => m.IdNivelEnsino, (IEnumerable<SelectListItem>)Model.NiveisEnsino ?? new List<SelectListItem>(), "", new { style = "width:250px;" })
                    </td>
                </tr>
            </table>
        </div>

        <div class="formColumn">
            <table class="tableForm">
                <tr>
                    <td class="labelRight">@Html.LabelFor(m => m.IdUnidadeAdministrativa)</td>
                    <td>
                        @Html.DropDownListFor(m => m.IdUnidadeAdministrativa, (IEnumerable<SelectListItem>)Model.UnidadesAdministrativas ?? new List<SelectListItem>(), "", new { style = "width:250px;" })
                    </td>
                </tr>
                <tr>
                    <td class="labelRight">@Html.LabelFor(m => m.IdIndicador)</td>
                    <td>
                        @Html.DropDownListFor(m => m.IdIndicador, (IEnumerable<SelectListItem>)Model.Indicadores ?? new List<SelectListItem>(), "", new { style = "width:250px;" })
                    </td>
                </tr>
            </table>
        </div>

        <div style="clear:both"></div>

        @if (Model != null)
        {
            if (Model.IndicadoresUnidades != null)
            {
            @Html.Pager(Model.IndicadoresUnidades)

            @Html.Grid(Model.IndicadoresUnidades.Items).Columns(column =>
            {
                if (@Role.IsGranted("Administrador"))
                {
                    column.For(c => Html.ActionLink(" ", "", null, new { href = "#", @class = "icoLinkDelete", onclick = "deleteItemLocal(this, '" + @Url.Action("Delete", "IndicadorUnidadeAdministrativa") + "', " + @c.UnidadeAdministrativa.IdUnidadeAdministrativa + ", " + @c.Modalidade.IdModalidade + ", " + @c.NivelEnsino.IdNivelEnsino + ", " + @c.Indicador.IdIndicador + ")" })).Named("Excluir").Attributes(width => "42px", align => "center").HeaderAttributes(width => "42px", align => "center").Encode(false);
                }
                    column.For(c => c.UnidadeAdministrativa.DesUnidadeAdministrativa).Named("Unidade Administrativa").Attributes(width => "30%").HeaderAttributes(width => "30%");
                    column.For(c => c.NivelEnsino.DesNivelEnsino).Named("Nível de Ensino").Attributes(width => "15%").HeaderAttributes(width => "15%");
                    column.For(c => c.Indicador.DesIndicador).Named("Indicador").Attributes(width => "15%").HeaderAttributes(width => "15%");
                    column.For(c => c.Modalidade.DesModalidade).Named("Modalidade").Attributes(width => "30%").HeaderAttributes(width => "30%");
                    column.For(c => c.ValorRealizado).Named("Valor").Attributes(width => "90px", align => "right").HeaderAttributes(width => "90px");
                    column.For(c => c.AnoReferencia.IdAnoReferencia).Named("Ano de Referência").Attributes(width => "130px", align => "right").HeaderAttributes(width => "130px");
                }).Empty("Nenhum registro encontrado")
            }
        }
    </div>                       
}

<script type="text/javascript">

    jQuery(function ($) {

        $('#IdModalidade').change(function () {
            loadNivelEnsino("IdModalidade", "IdNivelEnsino");
        });

        if ($('#IdModalidade').val() == "") {
            $("#IdNivelEnsino").val("");
            $("#IdNivelEnsino").attr("disabled", "disabled");
        } else {
            $("#IdNivelEnsino").removeAttr("disabled");
        }

    });

    function loadNivelEnsino(dropDownModalidade, dropDownNivelEnsino) {

        $("#" + dropDownNivelEnsino).html("");

        var idModalidade = $('#' + dropDownModalidade + ' :selected').val();

        if (idModalidade != "") {
            $("#" + dropDownNivelEnsino).removeAttr("disabled");
            $.getJSON('@Url.Content("~/IndicadorUnidadeAdministrativa/GetNivelEnsino")',
                    { idModalidade: idModalidade },
                    function (data) {
                        $("#" + dropDownNivelEnsino).append("<option value=''></option>");
                        $.each(data.Result, function (index, obj) {
                            $("#" + dropDownNivelEnsino).append("<option value='" + obj.IdNivelEnsino + "'>" + obj.DesNivelEnsino + "</option>");
                        });
                    });
        } else {
            $("#" + dropDownNivelEnsino).attr("disabled", "disabled");
        }
    }

    function deleteItemLocal(element, url, idUnidadeAdministrativa, idModalidade, idNivelEnsino, idIndicador) {

        if (confirm("Confirma exclusão do registro?")) {

            $.ajax({ url: url,
                type: 'post',
                data: { idUnidadeAdministrativa: idUnidadeAdministrativa, idModalidade: idModalidade, idNivelEnsino: idNivelEnsino, idIndicador: idIndicador },
                success: function (data) {
                    alert(data.Result);
                    $(element).closest("form").submit();
                },
                error: function (xhr, status, error) {
                    if (xhr.status != 403) {
                        $(".boxInfo").remove();
                        $(".validation-summary-errors").remove();
                        $(".boxContent").prepend("<div class='validation-summary-errors'><ul><li>" + xhr.responseText + "</li></ul></div>");
                    }
                }
            });
        }
    }

</script>