@model SRV.Models.DTO.MotivoInelegDocenteUnidAdm

@using MvcContrib.UI.Grid
@using SRV.Common.Extension

@{
    Layout = null;
}

<div class="boxContent">

    @Html.HiddenFor(m => m.Servidor.IdServidor)
    @Html.HiddenFor(m => m.IdAnoReferencia)
    @Html.HiddenFor(m => m.UnidadeAdministrativa.IdUnidadeAdministrativa)

    <table class="tableForm">
        <tr>
            <td class="labelRight">@Html.LabelFor(m => m.UnidadeAdministrativa.IdUnidadeAdministrativa)</td>
            <td>@Model.UnidadeAdministrativa.IdUnidadeAdministrativa</td>
        </tr>
        <tr>
            <td class="labelRight">@Html.LabelFor(m => m.UnidadeAdministrativa.DesUnidadeAdministrativa)</td>
            <td>@Model.UnidadeAdministrativa.DesUnidadeAdministrativa</td>
        </tr>
    </table>

    <br/>

    @using (@Html.BeginScroller("100%", "250px"))
    {
        @Html.Grid(Model.Motivos).Columns(column =>
        {
            column
                .For(c => (c.IdMotivoInelegibilidade > 0)
                           ? Html.ActionLink(" ", "", null, new { href = "#", @class = "icoLinkDetalhes", onclick = "exibirDetalhesServidor(" + c.IdMotivoInelegibilidade + ")" })
                           : Html.Label("-")
                )
                .Named("Detalhe")
                .Attributes(width => "50px", align => "center")
                .HeaderAttributes(width => "50px", align => "center")
                .Encode(false);
            
            column.For(c => c.DesMotivoInelegibilidade).Named("Motivo").Attributes(width => "600px").HeaderAttributes(width => "600px");
        }).Empty("Nenhum registro encontrado")
    }
            
</div>

<div id="modalMotivoInelegivelDocente" title=""></div>

<script type="text/javascript">

    function exibirDetalhesServidor(idMotivo) {

        var dlg = $("#modalMotivoInelegivelDocente").dialog({
            title: 'Detalhamento do Motivo da Inelegibilidade',
            height: 400,
            width: 720,
            position: ['center', 120],
            modal: true,
            resizable: false,
            open: function () {
                $(this).load('@Url.Action("ExibeDetalhesMotivoInelegDocente", "MotivoInelegDocenteUnidadeController", 
                    new { 
                        idAnoReferencia = @Model.IdAnoReferencia,
                        idUnidade = @Model.UnidadeAdministrativa.IdUnidadeAdministrativa, 
                        idServidor = @Model.Servidor.IdServidor})&idMotivo=' + idMotivo);
            },
            beforeClose: function (event, ui) {
                $('#modalMotivoInelegivelDocente').empty();
            }
        });

    }


</script>
