@model IList<SRV.Models.Domain.TipoCriterioElegibilidade>

@using SRV.Common.Extension
@using MvcContrib.UI.Grid


@using (Html.BeginForm())
{
    using (Html.BeginToolbar())
    {
        @Html.ToolbarItemLink(@Role.IsGranted("Administrador"), "Create", null, null, "btNovo")
    }

    <div class="boxContent">
        @if (TempData["message"] != null)
        {
            <div class="boxInfo">@TempData["message"]</div>
        }

        @Html.ValidationSummary(true)

        <br/>

        @if (Model != null)
        {
            @Html.Grid(Model).Columns(column =>
            {
                if (@Role.IsGranted("Administrador"))
                {
                    column.For(c => Html.ActionLink(" ", "Edit", new { id = @c.IdTipoCriterioElegibilidade, seq1 = @c.AnoReferencia.IdAnoReferencia, seq2 = @c.TipoUnidadeAdministrativa.IdTipoUnidAdm}, new { @class = "icoLinkOpen" })).Named("Abrir").Attributes(width => "35px", align => "center").HeaderAttributes(width => "35px", align => "center").Encode(false);
                    column.For(c => Html.ActionLink(" ", "", null, new { href = "#", @class = "icoLinkDelete", onclick = "deleteItemLocal(this, '" + @Url.Action("Delete", "TipoCriterioElegibilidade") + "', " + @c.IdTipoCriterioElegibilidade + ", " + @c.AnoReferencia.IdAnoReferencia + ", " + @c.TipoUnidadeAdministrativa.IdTipoUnidAdm + ")" })).Named("Excluir").Attributes(width => "42px", align => "center").HeaderAttributes(width => "42px", align => "center").Encode(false);
                }

                column.For(c => c.AnoReferencia.IdAnoReferencia).Named("Ano Referência").Attributes(width => "110px", align => "right").HeaderAttributes(width => "110px");
                column.For(c => c.TipoUnidadeAdministrativa.DesTipoUnidAdm).Named("Tipo de Unidade Administrativa").Attributes(width => "250px").HeaderAttributes(width => "250px");
                column.For(c => c.DesTipoCriterioElegibilidade).Named("Critério").Attributes(width => "100%").HeaderAttributes(width => "100%");
                column.For(c => c.ValorCriterio).Named("Valor").Attributes(width => "60px", align => "right").HeaderAttributes(width => "60px");
            }).Empty("Nenhum registro encontrado")

        }
    </div>                       
}

<script type="text/javascript">

    function deleteItemLocal(element, url, id, seq1, seq2) {

        if (confirm("Confirma exclusão do registro?")) {

            $.ajax({ url: url,
                type: 'post',
                data: { id: id, seq1: seq1, seq2: seq2 },
                success: function (data) {
                    alert(data.Result);
                    $(element).closest("form").submit();
                },
                error: function (xhr, status, error) {
                    console.log(xhr.status);
                    if (xhr.status != 403) {
                        $(".boxInfo").remove();
                        $(".validation-summary-errors").remove();
                        $(".boxContent").prepend("<div class='validation-summary-errors'><ul><li>" + xhr.responseText + "</li></ul></div>");
                    }
                }
            });
        }
    };

</script>