@model IList<SRV.Models.Domain.NivelEnsino>

@using SRV.Common.Extension
@using MvcContrib.UI.Grid


@using (Html.BeginForm())
{
    using (Html.BeginToolbar())
    {
        @Html.ToolbarItemLink(@Role.IsGranted("Administrador"), "Create", null, null, "btNovo")
    }

    <div class="boxContent">
        @if (TempData["message"] != null)
        {
            <div class="boxInfo">@TempData["message"]</div>
        }

        @Html.ValidationSummary(true)

        <br/>

        @if (Model != null)
        {
            @Html.Grid(Model).Columns(column =>
            {
                if (@Role.IsGranted("Administrador"))
                {
                    column.For(c => Html.ActionLink(" ", "Edit", new { id = @c.IdNivelEnsino, seq = @c.Modalidade.IdModalidade }, new { @class = "icoLinkOpen" })).Named("Abrir").Attributes(width => "35px", align => "center").HeaderAttributes(width => "35px", align => "center").Encode(false);
                    column.For(c => Html.ActionLink(" ", "", null, new { href = "#", @class = "icoLinkDelete", onclick = "deleteItem(this, '" + @Url.Action("Delete", "NivelEnsino") + "', " + @c.IdNivelEnsino + ", " + @c.Modalidade.IdModalidade + ")" })).Named("Excluir").Attributes(width => "42px", align => "center").HeaderAttributes(width => "42px", align => "center").Encode(false);
                }
                
                column.For(c => c.DesNivelEnsino).Named("Código Nivel de Ensino").Attributes(width => "50%").HeaderAttributes(width => "50%");
                column.For(c => c.Modalidade.DesModalidade).Named("Modalidade").Attributes(width => "50%").HeaderAttributes(width => "50%");
            }).Empty("Nenhum registro encontrado")

        }
    </div>                       
}
